[submodule "quickcheck"]
	path = quickcheck
	url = https://github.com/chocolate-doom/quickcheck.git
[submodule "SYSActBuilder/src/submodules/cimgui"]
	path = SYSActBuilder/src/submodules/cimgui
	url = https://github.com/cimgui/cimgui
